<!-- Required meta tags -->
<!-- test -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="js/all.min.js"></script>

<!-- OpenLayers -->
<link rel="stylesheet" href="css/ol.css" type="text/css">
<script src="js/ol.js"></script>

<link rel="stylesheet" href="css/ol-popup.css" type="text/css">
<script src="js/ol-popup.js"></script>

<link rel="stylesheet" href="css/map.css" type="text/css">
