<div id="map"></div>
<!-- <div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div> -->
<script>
{% autoescape 'js' %}

    // /**
    //  * Elements that make up the popup.
    //  */
    // var popupContainer = document.getElementById('popup');
    // var popupContent = document.getElementById('popup-content');
    // var popupCloser = document.getElementById('popup-closer');
    //
    //
    // /**
    //  * Create an overlay to anchor the popup to the map.
    //  */
    // var popupOverlay = new ol.Overlay({
    //   element: popupContainer,
    //   autoPan: true,
    //   autoPanAnimation: {
    //     duration: 250
    //   }
    // });
    //
    // function closePopup() {
    //     popupOverlay.setPosition(undefined);
    //     popupCloser.blur();
    // }

    // /**
    //  * Add a click handler to hide the popup.
    //  * @return {boolean} Don't follow the href.
    //  */
    // popupCloser.onclick = function() {
    //     closePopup();
    //     return false;
    // };


// Center the maps at the center of Lazio and zooming all region
    var mapLat = 41.9808038;
    var mapLng = 12.7662312;
    var mapDefaultZoom = 8;

    var wktFormat = new ol.format.WKT();

    var features = [];
    var featuresExtent = ol.extent.createEmpty();

    function add_map_point(wkt, shortDesc, desc, url, img) {
        var mfeature = wktFormat.readFeature(wkt);
        var geometry = mfeature.getGeometry().transform('EPSG:4326', 'EPSG:3857');
        ol.extent.extend(featuresExtent, geometry.getExtent());
        features.push(new ol.Feature({
            shortDesc: shortDesc,
            desc: desc,
            url: url,
            image: img,
            geometry: geometry,
        }));
    }

    {% for resultType in results|keys %}
        {% for item in results[resultType] %}
            {% if item.wktGeometry %}
                add_map_point(
                    '{{item.wktGeometry
                        |replace({"<http://www.opengis.net/def/crs/OGC/1.3/CRS84>": ""})
                        |trim|raw}}',
                    '{{item.title|length > 20 ? item.title[0:19] ~ '...' : item.title}}', '{{item.title}}',
                    '{{item.item}}', '{{item.imageURL}}');
            {% endif %}
        {% endfor %}
    {% endfor %}


    // function initialize_map() {

    var tileLayer = new ol.layer.Tile({
        source: new ol.source.OSM({
          url: "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"
        })
    });

    var featureSource = new ol.source.Vector({features: features});
    var featureLayer = new ol.layer.Vector({
        source: featureSource,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: '#007bff80'
            }),
            stroke: new ol.style.Stroke({
                color: '#007bff',
                width: 2
            }),
            image: new ol.style.Circle({
                radius: 15,
                // fill: new ol.style.Fill({
                //     color: '#007bff80'
                // }),
                stroke: new ol.style.Stroke({
                    color: '#007bff',
                    width: 4
                })
            })
        })
    });

    // var selection = new ol.interaction.Select({
    //     source: featureSource,
    //     multi: true // for multiple selection
    // });

    // var map;

    // selection.on('select', function(evt) {
    //     console.log('select!');
    //     if (evt.selected.length > 0) {
    //         // show popup with the selectedFeatures
    //         popupContent.innerHTML = '<ul>' + evt.selected.map(function (feature) {
    //             return '<li><a href="' + feature.get('url') + '">' + feature.get('title') + '</a></li>'
    //         }).join('') + '</ul>';
    //         console.log(popupContent.innerHTML);
    //         console.log(evt.pageX);
    //         var evtCoordinate = map.getCoordinateFromPixel(new ol.Pixel([0,0]));
    //         popupOverlay.setPosition(evtCoordinate);
    //     } else {
    //         closePopup();
    //     }
    // });

    var popup = new ol.Overlay.Popup();

    var view = new ol.View({
        center: ol.proj.fromLonLat([mapLng, mapLat]),
        zoom: mapDefaultZoom
    });

    var map = new ol.Map({
        target: "map",
        layers: [tileLayer, featureLayer],
        overlays: [popup],
        view: view,
        // interactions: [selection]
    });

    if (!ol.extent.isEmpty(featuresExtent)) {
        view.fit(featuresExtent, {maxZoom: 15});
    }

    // Add an event handler for when someone clicks on a marker
    map.on('singleclick', function(evt) {

        // Hide existing popup and reset it's offset
        popup.hide();
        popup.setOffset([0, 0]);


        var clickedFeatures = map.getFeaturesAtPixel(evt.pixel);
        if (clickedFeatures) {
            var info = '<ul class="list-unstyled">' + clickedFeatures.map(function (feature) {
                return '<li><small>' +
                            '<a href="' + feature.get('url') + '" ' +
                                    'data-toggle="tooltip" ' +
                                    'title="' + feature.get('desc') + '">' +
                                feature.get('shortDesc') +
                            '</a>' +
                        '</small></li>';
            }).join('') + '</ul>';

            var coord = map.getCoordinateFromPixel(evt.pixel);

            // Offset the popup so it points at the middle of the marker not the tip
            popup.setOffset([0, -22]);
            popup.show(coord, info);
            // $('[data-toggle="tooltip"]').tooltip();
        }
    });

        // console.log(popupContent.innerHTML);
        // console.log(evt.pageX);
        // var evtCoordinate = map.getCoordinateFromPixel(new ol.Pixel([0,0]));
        // popupOverlay.setPosition(evtCoordinate);
            // return feature;
            //     });
//             if (feature) {
//                 var coord = feature.getGeometry().getCoordinates();
//                 var props = feature.getProperties();
//                 var info = '<a style="color:black; font-weight:600; font-size:11px" href="' + props.url + '">' +
//                 '<img width="200" src="' +  props.image + '"  />' +
//                 '<div style="width:220px; margin-top:3px">' + props.desc + '</div></a>';
//
// // Offset the popup so it points at the middle of the marker not the tip
//                 popup.setOffset([0, -22]);
//                 popup.show(coord, info);
//             }
//         });

// Add an event handler for when someone hovers over a marker
// This changes the cursor to a pointer
    map.on("pointermove", function (evt) {
        var hit = map.forEachFeatureAtPixel(evt.pixel, function(feature, layer) {
            return true;
        });
        if (hit) {
            this.getTargetElement().style.cursor = 'pointer';
        } else {
            this.getTargetElement().style.cursor = '';
        }
    });

{% endautoescape %}
 </script>
