
@media (max-width: 992px) {
	header{
		padding-top: 80px;
		padding-bottom: 24px;
		padding-left:10%;
		padding-right:10%;
	}
	section {
		padding: 24px 0;
	}

	.section-title{
		margin-bottom: 24px;
	}

}

.section-title{
	font-size:3em;
	color:#8E5659;
}

.ecodigit-icon {
	display: inline-flex;
  align-self: center;
	height:1em;
 	width:1em;
	top: .125em;
 	position: relative;
}

@media (min-width: 992px) {
	header{
		padding-top: 156px;
		padding-bottom: 100px;
		padding-left:20%;
		padding-right:20%;
	}
	section {
		padding: 100px 0;
	}

	.section-title{
		text-align:center;
		margin-bottom: 100px;
	}
}

section {
	padding: 100px 0;
	border-top: 2px solid #8E5659;
	border-bottom: 2px solid #9B9B9B;
	background-color: white;
	color: black;
	margin-top: 1px;
}


p {
	text-align:justify;
}

/*
.even {
/*	background-color: #9B9B9B;
	color: white;
	background-color: white;
	color: black;
}*/

.nav-ecodigit a, .even a {
	color: #8E5659;
}

/*
.even a, .odd a {
	text-decoration:underline;
}
*/

.odd {
/*	background-color: #9f6063; */
	/*background-color: #9B9B9B;*/
	/*color: white;*/
}

.bg-ecodigit {
	background-color: #8E5659;
}

.nav-ecodigit{
  border-bottom:solid #8E5659 4px;
  color: black;
  background-color: white;
}


@font-face {
	font-family: 'Nexa Bold Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Nexa Bold Regular'), url('nexa-light/Nexa_Bold.woff') format('woff');
}


@font-face {
	font-family: 'Nexa Light Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Nexa Light Regular'), url('nexa-light/Nexa_Light.woff') format('woff');
}

body {
	font-family:'Nexa Light Regular';
}

h2 {
	font-family:'Nexa Bold Regular';
}


section a {
	text-decoration:underline;
}

.btn-news {
	width: 100%;
text-align: left;
}
/*
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}*/

.image-car {
	max-width:95%;
}

.car-ind{
	position:relative;
}

.card-body-odd {
	background-color:#8E5659;
	color: white;
	/*border: none;*/
}

.card-body-odd a {
	color:white;

}

.btn-odd {
	background-color:transparent;
	border-color:transparent;
}

.btn-odd:hover {
	background-color:transparent;
	border-color:transparent;
}

.btn {
	border:none;
}

.btn-link {
	color: #8E5659;
}

.btn-primary:hover {
	color: white;
	text-decoration: underline;
	background-color:#8E5659;
}

.odd .accordion .card-body-odd {
	color:black;
		background-color:transparent;
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: 0 0 0 .0rem #8E5659;
	color: white;
}

.btn-primary:active {
	box-shadow: 0 0 0 .0rem #8E5659;
	color: white;
}

.logo-nav {
    height: 30px;
    width:auto;
}

.footer-eodigit {
    color:white;
}

.carousel-indicators li {
	background-color: #8E5659 ;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238E5659' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238E5659' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.color-ecodigit {
	color: #8E5659 ;
}

a:hover .color-ecodigit{
	color: white;
}

.bg-navbar-toggler{
	background-color: #8E5659 ;
}

.navbar-toggler-icon-white {
	color: white ;
	margin-top: .3rem;
}

.img-partner {
	height: 60px;
}

.row-title {
	text-align: center;
}
